.pagination {
  justify-content: center;
}
.pagination li {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.pagination li a {
  color: grey;
}
.previous,
.next {
  width: 60px !important;
}
.activePage a,
.previous a,
.next a {
  color: #4285f4 !important;
}

.activePage a {
  font-size: 22px;
  font-weight: 400;
}
