@media (min-width: 0px) {
  .pageWrapper {
    padding: 50px 0;
  }
}
@media (min-width: 768px) {
  .pageWrapper {
    padding: 100px 20vw;
  }
  .detailPage {
    display: flex;
  }
}

.pagination {
  justify-content: center;
}
.pagination li {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.pagination li a {
  color: grey;
}
.previous,
.next {
  width: 60px !important;
}
.activePage a,
.previous a,
.next a {
  color: #4285f4 !important;
}

.activePage a {
  font-size: 22px;
  font-weight: 400;
}
tbody tr:hover {
  background: lightgrey;
}

.detailMovieTable {
  text-align: left !important;
}
.detailMovieTable th,
.detailMovieTable td {
  max-width: 800px;
}
.detailMovieTable td {
  padding: 5px !important;
}
.detailMovieTable th {
  padding: 10px !important;
}
